<html>  
<body bgcolor="yellow" align="center">
<br/>
<br/>
<h1><b> UPDATE PUPIL DETAILS</b> </h1> 
<br/>
<br/>   
<form action="update" method="get">  

<label for="pupilid"> PUPIL ID </label> 
<input type="text" name="pupilid">  <br> 
<br>
<br> 
        <label for="pupilname"> PUPIL NAME </label>
                <input type="text" id="pupilname" name="pupilname" ng-model="data.pupilname" /> <br /> <br />    
	<label for="pupilage" > PUPIL AGE </label>
            <input type="text" id="pupilage" name="pupilage" ng-model="data.pupilage" /> <br />
		<br/>
		<br/> 
	<label for="pupilgen" > PUPIL GENDER </label>
            <input type="text" id="pupilgen" name="pupilgen" ng-model="data.pupilgen" /> <br />
		<br/>
		<br/>   
<input type="submit" value="Submit">  
<br/>
</form>  

<a href="index1.html">Back</a>
<br/>
<br/>
<br/>
<br/>
<br/>
DISCLAIMER: PLEASE DO NOT LEAVE ANY FIELD BLANK! KINDLY UPDATE ALL THE SPECIFIED FIELDS!
 
</body>  
</html> 
